<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F.R.I.D.A.Y Closing Off</title>
    <style>
        body {
          background: #0f172a;
          font-family: 'Open Sans', sans-serif;
          color : white;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          text-align: center;
        }
    </style>
</head>
<body>
    <h1>F.R.I.D.A.Y has shutdown. <br> You may close this Tab.</h1>
</body>
</html>